.idea
__pycache__
*.pyc
*.csv
*.bz2
venv
！titanic_train.csv
catboost_info
*.json
*.pdf
*.png
*.pkl
.pytest_cache
*.log
.virtual_documents
.ipynb_checkpoints
build
dist
*.egg-info
toy.ipynb
*.bak
dask-worker-space
*.lock
*.dirlock
_tutorials
_module
!favicon.png
!logo.png
smac3-output_*
.coverage*